/* div {border-style: solid;} */

.caloriesHeader {
    margin-top: 30px;
}

.caloriesTitle {
    text-align: center;
    color: #FF7BA2;
    font-weight: bold;
    font-size: 1.3em;
}

.caloriesSpinnerRow {
    display: inline-flex;
}

.caloriesSpinner {
    margin: auto;
    align-self: center;
}

.caloriesNoData {
    text-align: center;
    font-weight: bold;
}

.caloriesSubtitle {
    text-align: center;
    font-size: 0.9em;
    margin-bottom: 15px;
}

.caloriesSummaryRow {
    display: inline-flex;
}

.caloriesSummary {
    margin: auto;
    width: 400px;
}

.caloriesCounter {
    display: inline-block;
    font-size: 1.3em;
    text-align: center;
    font-weight: bolder;
}

.caloriesLabel {
    display: inline-block;
    text-align: center;
    font-weight: bolder;
}

.caloriesToday {
    color: #FF7BA2;
}

.caloriesMaintain {
    color: #ecc433;
}

.caloriesLoose {
    color: #01d3c1;
}

.caloriesMonthsRow {
    margin-top: 40px;
    display: inline-flex;
}

.caloriesMonthsButton {
    margin: auto;
    align-self: center;
}

.caloriesWeeksRow {
    margin-top: 40px;
    display: inline-flex;
}

.caloriesWeekButtons {
    margin: auto;
    align-self: center;
    width: auto;
}

.caloriesWeekButton {
    margin: 5px;
}

.btn-week0 {
    background-color: #2eb3ff;
    color: white;
}
.btn-week1 {
    background-color: #FF7BA2;
    color: white;
}
.btn-week2 {
    background-color: #01d3c1;
    color: white;
}
.btn-week3 {
    background-color: #ecc433;
    color: white;
}

.caloriesDaysRow {
    margin-top: 30px;
    display: inline-flex;
}

.caloriesDaysTable {
    margin: auto;
    align-self: center;
    width: 350px;
}

.caloriesDaysTitle {
    font-weight: bolder;
    text-align: center;
    margin-bottom: 10px;
}

.caloriesDaysQty {
    text-align: right;
}

.caloriesDayHi {
    color: #01d3c1;
    font-weight: bolder;
}