.filters{
    margin-top: 20px;
   
}

.indication{
    color: #9B9B9B;
    font-size: small;
    margin-left: 10px;
}
.titleFilters{
    margin-top: 30px;
    color: #916FE3;
    font-weight: bold;
    border-bottom: 1px solid #916FE3; 
}

#dropdown-basic-button{
    width: 105px;
    height: 30px;
    margin-left: auto;
    margin-top: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.dropdown{
    margin-left: auto;
}


.submitUser{
    margin-top: 6px;
    float: right;
}

.userFilterSubmit{
    width: 104px;
   
}
.checkBox{
    margin-left: 10px;
}

.filters .form-control{
    width: 105px;
    height: 30px;
    margin-left: auto;
    margin-top: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}

