.profile {
    margin-top: 50px;
}

.userPhoto {
    width: 100px;
    height: 100px;
    background-color: #BDBBBB;
    border-radius: 50px;
    margin-right: 10px;
}

.userPseudo {
    font-size: 1.3em;
    font-weight: bold;
}

.informations {
    margin-top: 30px;
    color: #916FE3;
    font-weight: bold;
    border-bottom: 1px solid #916FE3; 
}

.details {
    font-weight: bold;
}

.detailsRow {
    border-bottom: 1px solid #DCD6D6;
    height: 50px; 
}

.inputText {
    margin-top: 6px;
    float: right;
    width: 250px;
    margin-right: 5px;
}

.label {
    margin: 0px;
    color: #9B9B9B;
    font-weight: bold;
    line-height: 50px;
}

.submitFooter {
    margin-top: 30px;
    float: right;
}

.submitButton {
    width: 100px;
    margin-right: 4px;
}

#pseudo{
    align-self: center;
}

.detailsRow.required .label:after {
    content:' *';
    color:red;
}