.feedFrame {
    float: right;
    background-color: #F4F4F4;
    padding: 5px;
    border-radius: 20px;
    width: 400px;
}

.feed {
    background-color: #F4F4F4;
    margin: auto;
    width: 370px;
    height: 810px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    align-items: flex-end;
}
.spinner{
    align-self: center;
    margin-top: 50px;
}
.nbPosts{
    float: center;
    margin: auto;
    color: #858585;
    font-weight: bold;
    background-color: #F4F4F4;
    width: 370px;
    padding-left: 125px;
    padding-top: 3px;
    padding-bottom: 3px;
}

