.checkReported {
    margin-top: 10px;
    margin-left: auto;
}

.interval {
    display: flex;
    margin-left: auto;
}

.postFilterLign {
    display: flex;
    color: #9B9B9B;
    border-bottom: 1px solid #DCD6D6;
}

.dateText {
    font-weight: normal;
    font-size: 0.8em;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 40px;
}

.wildcard {
    font-weight: normal;
    font-size: 0.8em;
    margin-left: 110px;
    line-height: 40px;
}

.postFilterTitle {
    margin: 0px;
    color: #9B9B9B;
    font-weight: bold;
    line-height: 40px;
}

.indication {
    color: #9B9B9B;
    font-weight: normal;
    font-size: small;
    margin-left: 10px;
    line-height: 40px;
}

.postFilterLign .form-control {
    width: 180px;
    height: 30px;
    margin-left: auto;
    margin-top: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.interval .form-control {
    font-size: 0.9em;
    width: 165px;
    height: 30px;
}

.postFilters .btn {
    height: 30px;
    line-height: 14px;
    width: 80px;
    margin-top: 5px;
    float: right;
}