.blockTitlePost {
    display: flex;
    margin-top: 50px;
    color: #916FE3;
    font-weight: bold;
    border-bottom: 1px solid #916FE3;
}
.titleNewPost{
    font-weight: bold;
    margin-bottom: 0px;
}

.newPostInput {
    height: 30px;
    width: 300px;
}

.postTitle {
    display: flex;
    margin-top: 10px;
}

.photoIcon {
    margin-left: 20px;
    font-size: 1.6em;
    margin-top: 1px;
}
.photoIcon:hover{
    cursor: pointer;
}


.postContent {
    display: flex;
    margin-top: 10px;
}

.newPostText {
    width: 415px;
}

.postImage {
    position: relative;
    width: 86px;
    height: 86px;
    margin-left: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.postImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#input[type="file"] {
    display: none;
}

.postButtons {
    margin-top: 10px;
    display: flex;
}

.postButtons .btn {
    height: 30px;
    line-height: 10px;
    margin-left: 10px;
}

.postButtons .form-control {
    font-size: 0.9em;
    width: 172px;
    height: 30px;
}

.postText {
    line-height: 30px;
    margin-left: 0px;
    margin-right: 5px;
    color: #AE9E9B;
    font-weight: bold;
    
}

.or {
    line-height: 30px;
    margin-left: 8px;
    color: #AE9E9B;
    font-weight: bold;
}

.pinPost {
    margin-top: 5px;
    display: flex;
   
}

.pinPost .form-control {
  
    font-size: 0.9em;
    width: 172px;
    height: 30px;
    margin-right: 10px;
}
.deleteImg{
    position: absolute;
    right: 0px; 
    padding: 0px;
    padding-left: 7px;
    padding-right: 7px;
    height: 20px;
    line-height: 18px;
    border: 1px solid white;
   border-radius: 8px;
}
.cancelPin{
    height: 30px;
    line-height: 15px;
}
::-webkit-scrollbar{
    width: 10px;
   
}

::-webkit-scrollbar-track{
    background: #F4F4F4;
}


::-webkit-scrollbar-thumb{
    background: #BDBBBB;
    border-radius: 5px;
}
.cancelEdit{
    margin-top: 4px;
    height: 20px;
    width: 20px;
    margin-left: 10px;
    line-height: 4px;
    padding-left: 5.7px
}
.pinIcon{
    color: #ff7ba2;
    font-size: 1.6em;
    margin-left: 15px;
    margin-top: 2px;
}
.pinIcon:hover{
    cursor: pointer;
}
