.detail{
    margin-top: 80px;
}

.photoDetail{
    width: 100px;
    height: 100px;
    background-color: #BDBBBB;
    border-radius: 50px;
    margin-right: 10px;
}

.name
{
    font-size: 1.3em;
    font-weight: bold;
}

.details{
    font-weight: bold;
}


.information{
    margin-top: 20px;
    color: #916FE3;
    font-weight: bold;
    border-bottom: 1px solid #916FE3; 
}

.infos{

    margin-left: auto;
    margin-top: 7px;
    color: black;
 
}

.interLign{
    display: flex;
    color: #9B9B9B;
    border-bottom: 1px solid #DCD6D6;
}

.infoTitle{
    margin: 0px;
    color: #9B9B9B;
    font-weight: bold;
    line-height: 40px;
}

.switch {
    margin-left: auto;
    margin-top: 9px;
}

.userDetailButtons {
    flex-flow: row;
    margin-top: 10px;
}

.goButton {
    float: left;
    margin-right: 5px;
}

.deleteUser{
    float: right;
}

#pseudoTitle{
    align-self: center;
}

.statUser{
    margin-left: 0px; 
    color: #916FE3;
    font-weight: bold;
}

.statUser2{
    margin-left: 15px; 
    color: #CF0691;
    font-weight: bold;
}



