.cardBody {
    display: flex;
    flex-direction: column;
    width: 350px;
    align-items: center;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
    
}

.cardImage {
    position: relative;
    display: flex;
    width: 350px;
    min-height: 80px;
    max-height: 350px;
    vertical-align: middle;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    cursor: pointer;
}

.cardImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cardText {
    max-width: 330px;
    margin-top: 7px;
    margin-left: 7px;
    font-size: 0.9em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    align-self: flex-start;
}

.cardTextOpen {
    display: flex;
    max-width: 330px;
    margin-top: 7px;
    font-size: 0.9em;
    cursor: pointer;
    align-self: flex-start;
    margin-left: 7px;
  
}

.cardTimeOfDay {
    position: absolute;
    width: 330px;
    left: 15px;
    bottom: 15px;
}

.cardTimeOfDayText {
    font-size: 1.3em;
    font-weight: bolder;
    border-radius: 6px;
    background-color: white;
    color: #FF7BA2;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 10px;
    vertical-align: middle;
}

.cardTimeOfDayImg {
    width: 45px;
    height: 45px;
}

.cardWeight {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.cardWeightText {
    font-size: 1.2em;
    font-weight: bolder;
    color: white;
    background-color: #FF7BA2;
    border-radius: 6px;
    border: 1px solid white;
    padding: 3px 25px 5px 25px;
}

.cardDetails {
    align-self: flex-start;
    padding-left: 5px;
    margin-top: 5px;
  }

.ingredient{
    background-color: #FF7BA2;
    color: white;
    font-size: 0.8em;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 340px;
}

.calories{
    background-color: #ecc433;
    color: white;
    font-size: 0.8em;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 340px;
}

.duration{
    background-color: #01d3c1;
    color: white;
    font-size: 0.8em;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 340px;
}

.cardFoot{
    display: flex;
    align-items: center;
    width: 330px;
}

.cardUserPhoto {
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-top: 7px;
    margin-bottom: 7px;   
}

.cardUserPhotoImg {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.cardUserInfos {
    cursor: pointer;
}

.cardUserName{
    margin-top: 7px;
    margin-left: 7px;
    font-size: 0.8em;
}

.cardTime{
    margin-left: 7px;
    margin-bottom: 7px;
    font-size: 0.7em;
    color: rgb(145, 145, 145);
}

.comment_like{
    margin-left: auto;
    align-self: center;
    display: flex;
}

.comment{
    margin-right: 15px;
    color: rgb(145, 145, 145);
    display: flex;
}

.like{
    color: #FF7BA2;
    display: flex;
}
.heartIcon{
    margin-top: 3px;
    margin-right: 3px;
}
.commentIcon{
    margin-top: 3px;
    margin-right: 3px;
}
.commentIcon:hover{
    cursor: pointer;
}
