.logo {
    height: 60px;
    margin-left: 20px;
}

.navbar {
    display: flex;
    height: 80px;
    background-color: #f8f8f8;
    align-items: flex-start;

}


.nav-text {
    margin-right: 30px;
    color: #525252;
    font-weight: bold;
    font-size: 1.2em;
}

a:hover{
    text-decoration: none;
}

.menuList {
    display: flex;
    margin-top: 12px;
    margin-left: auto;
}

.logout {
    margin-top: 12px;
    margin-left: 30px;
    background-color: #986FE3;
    border-color: #986FE3;
}

.logout:hover {
    background-color: #7a59b8;
    border-color: #7a59b8;

}

.nav-icon {
    color: #525252;
    font-weight: bold;
    font-size: 1.5em;
}
