.titleScheduledPosts{
    margin-top: 50px;
    color: #916FE3;
    font-weight: bold;
    border-bottom: 1px solid #916FE3; 
}
.scheduleTable{
  height: 220px;
  overflow-y: scroll;
}
.spinner{
  display: flex;
  flex-direction: column;
  align-items: center;
}