

.searchUser{
    border: none;
    width: 275px;
    border-radius: 20px;
    margin-bottom: 18px;
    padding: 5px;
    padding-left: 10px;
    outline: none;
}

.list{
    background-color: #F4F4F4;
    max-width: 350px;
    height: 750px;
    border-radius: 50px;
    padding-top: 30px;
    padding-right: 10px;
    overflow-y: scroll;
    margin-top: 40px;
    font-weight: bold;
    float: right;
  
}

.list Li{
    height: 80px;
    line-height: 80px;
    padding-left: 10px;
    list-style: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  
}

 .element:hover{
    background-color: #797979;
    color: #FFFFFF;
    border-radius: 40px 20px 20px 40px;
    font-weight: bold;
 }

 .photo{
     width: 60px;
     height: 60px;
     background-color: #BDBBBB;
     border-radius: 30px;
     margin-right: 10px;
 }

.list::-webkit-scrollbar{
     width: 10px;
    
 }

 .list::-webkit-scrollbar-track{
     background: #F4F4F4;
     margin-top: 50px;
     margin-bottom: 50px;
 }
 

 .list::-webkit-scrollbar-thumb{
     background: #BDBBBB;
     border-radius: 5px;
 }

 #spinner{
    margin-left: 120px;
    margin-top: 20px;
 }
 .nbUsers{
     margin-left: 70px;
     color: #797979;
 }

