.loginComponent{
    margin-top: 100px;
}

.loginTitle{
    color: #916FE3;
    font-weight: bold;
    border-bottom: 1px solid #916FE3; 
}

.loginField {
    border-bottom: 1px solid #DCD6D6;
    height: 50px; 
}

.loginLabel {
    margin: 0px;
    color: #9B9B9B;
    font-weight: bold;
    line-height: 50px;
}

.loginFieldInput {
    margin-top: 6px;
    float: right;
    width: 200px;
    margin-right: 5px;
}

.loginSubmit{
    margin-top: 16px;
    float: right;
}

.loginSubmitButton {
    width: 100px;
    margin-right: 4px;
    background-color: #507AFF;
    border-color: #507AFF;
}

.loginSubmitButton:hover, .loginSubmitButton:focus {
    background-color: #6A35EA;
    border-color: #6A35EA;
    box-shadow: none;
}
