.messages {
    margin-top: 5px;
    margin-bottom: 5px;
}

.messageStackLine {
    margin-top: 5px;
    margin-bottom: 0px;
}

.messageFrame {
    position: relative;
}

.messageCounter {
    position: absolute;
    top: 16px;
    right: 45px;
    font-size: .9em;
    opacity: .5;
}