.caloriesFilters {
    margin-top: 50px;
    width: 400px;
}

.caloriesFiltersTitle {
    margin-top: 30px;
    color: #916FE3;
    font-weight: bold;
    border-bottom: 1px solid #916FE3; 
}

.caloriesFiltersLabel{
    margin: 0;
    color: #9B9B9B;
    font-weight: bold;
    line-height: 40px;
}

.caloriesFiltersLine {
    display: flex;
    color: #9B9B9B;
    border-bottom: 1px solid #DCD6D6;
}

.caloriesFiltersLine .form-control {
    width: 180px;
    height: 30px;
    margin-left: auto;
    margin-top: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.caloriesFiltersInput {
    display: flex;
    margin-left: auto;
}

.caloriesFilters .btn{
    height: 30px;
    line-height: 14px;
    width: 80px;
    margin-top: 5px;
    float: right;
}